<nav class="navbar  navbar-fixed-top header-initial  ">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button"  data-toggle="collapse" class="btn navbar-toggle " data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
  				<a href id="navbar-brand1" class="navbar-brand"><span class="logo">COi</span></a>
  				<a href id="navbar-brand2" class="navbar-brand "><span class="logo-initial">Career Objective Institute</span></a>

  			</div>
  			<div class="collapse navbar-collapse" id="navbar-collapse">
  				<form class="form-inline navbar-form navbar-right">
				  	<div class="form-group formPositioning">				
					    <div class="input-group">					 
					      	<input type="text" class="form-control" id="exampleInputAmount" placeholder="Search Courses" ng-model="searchValue">
					     	 <div class="input-group-addon btn" ng-click="searcher(searchValue);gotoTop();detailshider(true)">
					     	 	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					     	 </div>
					    </div>
				  	</div>
				</form>	
  				
				<ul class="nav navbar-nav navbar-right">
					<li class="text-center"  ><a href="" ng-click="currentPage='Home'" class=" nav-option " ng-class="{'active':currentPage=='Home'}">Home</a></li>
					<li class="text-center" ng-click="currentPage='About'"><a href="" class=" nav-option" ng-class="{'active':currentPage=='About'}">About Us</a></li>
					<li class="text-center" ng-click="currentPage='Contact'"><a href="" class=" nav-option" ng-class="{'active':currentPage=='Contact'}">Contact</a></li>
					
				</ul>		
  				
			</div>
  		</div>
  	</nav>