<tabset newvar = "tabs" activestyle="tab-active" inactivestyle = "tab-inactive">

<!-- 	<div class="inside-slider-content">

		<tab ng-repeat="user in optionsCtrl.users"  heading={{user.type}}>
			<div class="form-group pull-left slider-input-width ">
				<div class="input-group ">
					 
				  	<select class		= "selectpicker"
					  		ng-change	= "optionsCtrl.getDomainList(item)" 
					  		ng-model	= "item" >
					
						    <option value='' disabled selected style='display:none;' data-content="<span class='selectText'>{{user.placeholder}}</span>"></option>
						    <option class="select-drop" ng-repeat="option in user.options">
						    	{{option}}						   
							</option>
						   
					</select>			     
			    </div><!-- /input-group -->
			</div>
			<div class="form-group pull-left slider-input-width-2 ">
				<div class="input-group ">
					<select class		= "selectpicker" ng-model="selected">
					
					    <option class="select-drop" ng-repeat="domain in optionsCtrl.domainList">
					    	s{{domain}}						   
						</option>
						   
					</select>	
			     
			    </div><!-- /input-group -->
			</div>
			<div class="form-group pull-left slider-input-width-2 ">
				<div class="input-group ">
			      <input type="text" class="form-control slider-form" placeholder="Choose a course">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default btn-md-custom  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
			        <ul class="dropdown-menu dropdown-menu-right" role="menu">
			          <li><a href="#">I am here for my child </a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
			      </div><!-- /btn-group -->
			    </div><!-- /input-group -->
			</div>
			<div class="form-group pull-left slider-input-width-3 ">
				<div class="input-group ">
			      
			      
			        <button type="button" class="btn btn-default btn-md-custom-2  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Get me the COURSE</button>
			      
			    </div><!-- /input-group -->
			</div>
		</tab>
	</div>  -->
	<!-- inside-slider-content -->


</tabset>
